:root {
    --main-color: #024d99;
    --secondary-color: #949494;
    --error-color: red;
    --border-color: lightgrey;
    --card-max-width: 600px;
    --card-margin: 0 auto 20px;
    --dark-grey: #474747;
}

/* Extra Light (Extraleicht) */
@font-face {
  font-family: 'Sohne Extraleicht';
  font-weight: 200;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Extraleicht.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Extraleicht';
  font-weight: 200;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-ExtraleichtKursiv.otf") format("opentype");
}

/* Light (Leicht) */
@font-face {
  font-family: 'Sohne Leicht';
  font-weight: 300;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Leicht.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Leicht';
  font-weight: 300;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-LeichtKursiv.otf") format("opentype");
}

/* Regular (Buch) */
@font-face {
  font-family: 'Sohne Buch';
  font-weight: 400;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Buch.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Buch';
  font-weight: 400;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-BuchKursiv.otf") format("opentype");
}

/* Semi-Bold (Kraftig) */
@font-face {
  font-family: 'Sohne Kraftig';
  font-weight: 500;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Kraftig.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Kraftig';
  font-weight: 500;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-KraftigKursiv.otf") format("opentype");
}

/* Bold (Halbfett) */
@font-face {
  font-family: 'Sohne Halbfett';
  font-weight: 600;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Halbfett.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Halbfett';
  font-weight: 600;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-HalbfettKursiv.otf") format("opentype");
}

/* Extra Bold (Fett) */
@font-face {
  font-family: 'Sohne Fett';
  font-weight: 700;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Fett.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Fett';
  font-weight: 700;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-FettKursiv.otf") format("opentype");
}

/* Black (Extrafett) */
@font-face {
  font-family: 'Sohne Extrafett';
  font-weight: 800;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Extrafett.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Extrafett';
  font-weight: 800;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-ExtrafettKursiv.otf") format("opentype");
}

/* Ultra Black (Dreiviertelfett) */
@font-face {
  font-family: 'Sohne Dreiviertelfett';
  font-weight: 900;
  font-style: normal;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-Dreiviertelfett.otf") format("opentype");
}

@font-face {
  font-family: 'Sohne Dreiviertelfett';
  font-weight: 900;
  font-style: italic;
  src: url("https://brandfonts.s3.eu-north-1.amazonaws.com/sohne/Sohne-DreiviertelfettKursiv.otf") format("opentype");
}

/* Black */
@font-face {
  font-family: 'MartinaPlantijn Black';
  font-weight: 900;
  font-style: normal;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Black.otf') format('opentype');
}

@font-face {
  font-family: 'MartinaPlantijn Black';
  font-weight: 900;
  font-style: italic;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-BlackItalic.otf') format('opentype');
}

/* Bold */
@font-face {
  font-family: 'MartinaPlantijn Bold';
  font-weight: 700;
  font-style: normal;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'MartinaPlantijn Bold';
  font-weight: 700;
  font-style: italic;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-BoldItalic.otf') format('opentype');
}

/* Medium */
@font-face {
  font-family: 'MartinaPlantijn Medium';
  font-weight: 500;
  font-style: normal;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'MartinaPlantijn Medium';
  font-weight: 500;
  font-style: italic;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-MediumItalic.otf') format('opentype');
}

/* Light */
@font-face {
  font-family: 'MartinaPlantijn Light';
  font-weight: 300;
  font-style: normal;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Light.otf') format('opentype');
}

@font-face {
  font-family: 'MartinaPlantijn Light';
  font-weight: 300;
  font-style: italic;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-LightItalic.otf') format('opentype');
}

/* Regular */
@font-face {
  font-family: 'MartinaPlantijn Regular';
  font-weight: 400;
  font-style: normal;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'MartinaPlantijn Regular';
  font-weight: 400;
  font-style: italic;
  src: url('https://brandfonts.s3.eu-north-1.amazonaws.com/martina/MartinaPlantijn-Italic.otf') format('opentype');
}


/* Set default font family */
html {
  font-family: 'Sohne Buch', sans-serif;
}

.bottom-gradient {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    pointer-events: none; /* Allows clicking through the gradient */
    z-index: 1000; /* Ensure it's above other content */
}

body {
    font-family: 'Sohne Buch', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    font-size: 1em;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: var(--dark-grey); 
}

hr {
    border: 1px solid #f5f5f5;
    margin: 0px 0;
    width: 100%; 
}

h2 {
    font-family: 'MartinaPlantijn Regular', sans-serif;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.18em;
    letter-spacing: -0.01em;
    font-size: 2.17em;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: left; 
}

.question {
    font-family: 'Sohne Buch', sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    color: var(--main-color);
    font-size: 1.15em;
    margin-bottom: 20px;
    text-align: left; 
}

.subheading, .question-description {
    font-family: 'Sohne Buch', sans-serif;
    font-weight: 400;
    letter-spacing: -0.031em;
    line-height: 1.3em;
    font-size: 1em;
    margin-bottom: 15px;
    color: var(--secondary-color);
    text-align: left; 
}

label, input, select, textarea, button {
    font-family: 'Sohne Buch', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-size: 1em;
    line-height: 1.4;
    color: var(--dark-grey); 
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

/* Animated gradient background */
.gradient-bg {
    flex: 1;
    background: linear-gradient(240deg, #EA7BB3, #EC7FB0, #FAB29B, #6b4a8c, #344F78, #5A63B2, #4661A4, #2A89BE);
    background-size: 1600% 1600%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

/* Login panel */
.login-panel {
    width: 300px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    opacity: 0.9;
}

.chairperson {
    background-color: #007bff;
}

.delegate {
    background-color: #28a745;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}
